## Intro to Python Programming
- Prof Joanna Bieri
- Office: Duke 209

### Day 4 - Loops

#### Now we can loop through items in a list

In [21]:
# Define the list and print the whole thing
best_cat_names = ['Bongo','Tater Tot','Sofia','Bella','Muffin'] 
print(best_cat_names)

['Bongo', 'Tater Tot', 'Sofia', 'Bella', 'Muffin']

In [22]:
# Define the list, loop through items and print
best_cat_names = ['Bongo','Tater Tot','Sofia','Bella','Muffin'] 

for name in best_cat_names:
    print(name)
    
# Notice the different formatting when printing

Bongo
Tater Tot
Sofia
Bella
Muffin

In [23]:
# Fun with indentation errors
for name in best_cat_names:
    print(name)

Bongo
Tater Tot
Sofia
Bella
Muffin

In [24]:
# Fun with indentation errors
for name in best_cat_names:
    print(name)

Bongo
Tater Tot
Sofia
Bella
Muffin

In [25]:
# You can do as much as you want inside a loop
for name in best_cat_names:
    print(name.upper())
    print(name.lower())
    print(name+"FluffButt")
    print('-------------')

BONGO
bongo
BongoFluffButt
-------------
TATER TOT
tater tot
Tater TotFluffButt
-------------
SOFIA
sofia
SofiaFluffButt
-------------
BELLA
bella
BellaFluffButt
-------------
MUFFIN
muffin
MuffinFluffButt
-------------

In [26]:
# Code before and after loops

# Code before the loop is left aligned
funny_name = 'Fluff Butt'
boring_name = 'Cat'
for name in best_cat_names:
    # Code inside the for loop is indented
    print(f"   {name} {funny_name}")
    print(f"   {name} {boring_name}")
    
# Code after the loop returns to the previous alignment
print("Which names would you pick?")

   Bongo Fluff Butt
   Bongo Cat
   Tater Tot Fluff Butt
   Tater Tot Cat
   Sofia Fluff Butt
   Sofia Cat
   Bella Fluff Butt
   Bella Cat
   Muffin Fluff Butt
   Muffin Cat
Which names would you pick?

### Creating Numerical Lists for Loops

Many times you want a list of numbers, like all the numbers between 1 and 100. Typing this out would be a WASTE OF TIME! Luckily Python has our back...

In [27]:
# Notice that range(#) starts at zero and goes to one less than the number
my_numbers = list(range(100))
print(my_numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [28]:
# I want to start at 1 and go to 100!
my_numbers = list(range(1,101))
print(my_numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [29]:
# This is really useful in lists
best_cat_names = ['Bongo','Tater Tot','Sofia','Bella','Muffin'] 
best_cat_colors = ['Black','Orange','Gray','Black','Gray']

# Here i will take number values that match the indexes of our list
# This means we can combine lists in a message.
for i in range(len(best_cat_names)):
    print(f"The number {i+1} cat, {best_cat_names[i]}, is a {best_cat_colors[i]} cat")

The number 1 cat, Bongo, is a Black cat
The number 2 cat, Tater Tot, is a Orange cat
The number 3 cat, Sofia, is a Gray cat
The number 4 cat, Bella, is a Black cat
The number 5 cat, Muffin, is a Gray cat

#### And we can do some basic statistics

In [30]:
# Get all the numbers between 1 and 20
numbers = list(range(1,21))
print(min(numbers))
print(max(numbers))
print(sum(numbers))

1
20
210

In [31]:
import numpy as np

In [32]:
# For more advanced operations use numpy
# Average
print(np.average(numbers))
# Standard Deviation
print(np.std(numbers))

10.5
5.766281297335398

### Practice Problem

1. Write code that squares a bunch of numbers. First create a list of all the numbers between 5 and 15. Then create an empty list named squares. Then use a loop to square each of the numbers and save those numbers to the empty list names squares. Finally print all the squares

In [33]:
#Your code here

number_list = list(range(5,16))
print(number_list)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [34]:
for squared in number_list:
    print(squared)

5
6
7
8
9
10
11
12
13
14
15

In [37]:
for squared in number_list:
    print(squared ** 2)

25
36
49
64
81
100
121
144
169
196
225

### List Comprehension

One very Pythonic way to use lists and for loops is called list comprehension.

In [38]:
# This solves the squares problem in one line:
print([num**2 for num in range(5,16)])

[25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225]

But don't feel too much pressure when you are just starting programming to compress everything into single line statements. It takes a long time to get use to regular loops.

### Slicing Lists

Sometimes you don't want to use the whole list, just a small part of it. This is called slicing the lists.

In [39]:
best_cat_names = ['Bongo','Tater Tot','Sofia','Bella','Muffin'] 

# Slicing goes from the first number to one less than the second number
print(f'The first three names in the list are: {best_cat_names[0:3]}')

print(f'The three middle names in the list are: {best_cat_names[1:4]}')

# You can use shortcuts if you are going from the beginning or to the end
print(f'The first three names in the list are: {best_cat_names[:3]}')
print(f'The last three names in the list are: {best_cat_names[-3:]}')

The first three names in the list are: ['Bongo', 'Tater Tot', 'Sofia']
The three middle names in the list are: ['Tater Tot', 'Sofia', 'Bella']
The first three names in the list are: ['Bongo', 'Tater Tot', 'Sofia']
The last three names in the list are: ['Sofia', 'Bella', 'Muffin']

### Practice Problem

2. Create a list of things you have eaten today for breakfast, lunch, and dinner. If you skipped one of these meals make something up. Now use list slicing to separate your list into different variables: 
    
        breakfast =
        lunch =
        dinner=

In [41]:
daily_foods = ['omelette','potatoes','chocolate milk','oats overnight','rice','tofu','pineapple','pasta']
print(f'For breakfast, I ate: {daily_foods[0:4]}')
print(f'For lunch, I ate: {daily_foods[4:8]}')
print(f'For dinner, I ate: {daily_foods[-1]}')

For breakfast, I ate: ['omelette', 'potatoes', 'chocolate milk', 'oats overnight']
For lunch, I ate: ['rice', 'tofu', 'pineapple', 'pasta']
For dinner, I ate: pasta

### Copying Lists - USER BEWARE!!!

In [42]:
# Here are some of my favorite foods
my_favorite_foods = ['pizza','cookies','avocados','potatoes']
# My husband likes most of the same foods
ross_favorite_foods = my_favorite_foods
print(ross_favorite_foods)

['pizza', 'cookies', 'avocados', 'potatoes']

In [43]:
# But he doesn't like avocados
ross_favorite_foods.remove('avocados')
print(ross_favorite_foods)

['pizza', 'cookies', 'potatoes']

In [44]:
# Lets look at my favorite foods again
print(my_favorite_foods)

['pizza', 'cookies', 'potatoes']

#### HEY! What happened to my avocados!!!

Beacuse I wrote:

    ross_favorite_foods = my_favorite_foods

Python has BOTH variables point at the same data. So when I canged Ross' favorite food it changed the ONE piece of data in memory, also changing my foods.

### Instead make a copy using slices

In [45]:
# Here are some of my favorite foods
my_favorite_foods = ['pizza','cookies','avocados','potatoes']
# My husband likes most of the same foods
# but this time take a slice -- [:] takes the full list

ross_favorite_foods = my_favorite_foods[:]



# Now remove avocados
ross_favorite_foods.remove('avocados')

# And print both lists
print(ross_favorite_foods)
print(my_favorite_foods)

['pizza', 'cookies', 'potatoes']
['pizza', 'cookies', 'avocados', 'potatoes']

### Tuples

Another object to store data... just more strict

In [46]:
# tuples are surrounded by parenthesis or round brackets
my_tuple = ('A','B','C',1,2,3)
# lists are surrounded by square brackets
my_list = ['A','B','C',1,2,3]

print(my_tuple)
print(my_list)

('A', 'B', 'C', 1, 2, 3)
['A', 'B', 'C', 1, 2, 3]

In [47]:
# Access Elements - same
print(my_tuple[0])
print(my_list[0])

A
A

In [48]:
# Access slices - same
print(my_tuple[0:3])
print(my_list[0:3])

('A', 'B', 'C')
['A', 'B', 'C']

In [49]:
# For loops - same
for item in my_tuple:
    print(item)

A
B
C
1
2
3

#### BUT --- here's where they differ

In [50]:
my_tuple[0]='D'

TypeError: 'tuple' object does not support item assignment

In [51]:
my_list[0]='D'
print(my_list)

['D', 'B', 'C', 1, 2, 3]

In [52]:
print(my_tuple)
print(my_list)

('A', 'B', 'C', 1, 2, 3)
['D', 'B', 'C', 1, 2, 3]

Tuples should be used for data that should not be overwriten in a pice by piece way. Often these are used for dimensions, coordinates, locations (lattitued, longitude), etc. If you are writing code and you have some data that should not be changed one piece at a time then use a tuple.

#### How do we change the data in a tuple?

In [53]:
# Overwrite the whole thing
my_tuple = ('D', 'B', 'C', 1, 2, 3)
print(my_tuple)

('D', 'B', 'C', 1, 2, 3)

### Practice

3. Create a tuple that contains two integers (start, stop). Start should be a small number and stop should be a really big number. Then do the following:
    - make a list of numbers that ranges between start and stop using your tuple
    - find the sum of your list of numbers
    - find the sum of the first half of your list of numbers
    - write a FOR loop that cycles through each number in your list and writes over that number in the list with the difference between that number and the sum.
    - print your final list
    
            If start=0 and stop=3 then
            My list of numbers = 0,1,2,3
            The sum of my list of numbers is 6
            Inside the loop I would change my list of numbers to be 
                6-0, 6-1, 6-2, 6-3
            Then I would print my list of numbers = 6,5,4,3

In [56]:
tuple_tastic = ('0','50')
print(tuple_tastic)

('0', '50')

In [60]:
tuple_range = tuple(range(0,51))
print(tuple_range)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50)

In [61]:
print(sum(tuple_range))

1275

In [69]:
midpoint = (tuple_range[0:26])
print(midpoint)

tuple_half = sum(midpoint)
print(tuple_half)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25)
325

In [79]:
for number in tuple_range:
    print(f"50-{number}= {50 - number}")

50-0= 50
50-1= 49
50-2= 48
50-3= 47
50-4= 46
50-5= 45
50-6= 44
50-7= 43
50-8= 42
50-9= 41
50-10= 40
50-11= 39
50-12= 38
50-13= 37
50-14= 36
50-15= 35
50-16= 34
50-17= 33
50-18= 32
50-19= 31
50-20= 30
50-21= 29
50-22= 28
50-23= 27
50-24= 26
50-25= 25
50-26= 24
50-27= 23
50-28= 22
50-29= 21
50-30= 20
50-31= 19
50-32= 18
50-33= 17
50-34= 16
50-35= 15
50-36= 14
50-37= 13
50-38= 12
50-39= 11
50-40= 10
50-41= 9
50-42= 8
50-43= 7
50-44= 6
50-45= 5
50-46= 4
50-47= 3
50-48= 2
50-49= 1
50-50= 0